[submodule "docker-centos7-slurm"]
	path = docker-centos7-slurm
	url = https://github.com/giovtorres/docker-centos7-slurm
[submodule "snaphpc"]
	path = snaphpc
	url = git@github.com:caochun/snaphpc.git
